@import '../../styles/variables.scss';

.Movies {
    flex: 1;
    background-color: $main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .Movies-Title {
        font: normal normal bold 80px/66px Arial;
        letter-spacing: 0;
        color: $black;
        text-align: center;
        margin: 100px;
    }

    .Movies-List, li {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;

    }

    @media screen and (max-width: $mobile-breakpoint) {
        .Movies-Title {
            font: normal normal bold 27px/25px Arial;
            margin: 35px;
        }
    }
}